/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

/*END Reset*/

:root {
  --primary-color: #000;
  --secondary-color: #0470a4;
  --font-size-large: 3.25rem;
  --font-size-medium: 2.8rem;
  --font-size-small: 0.8rem;
  --font-weight-h1: 700;
  --font-weight-h5: 600;
  --font-family-base: "Poppins", sans-serif;
}

/* Start About Us CSS */

header .container-geral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%; /* Permitir que ele use 100% da largura da tela disponível */
  overflow: hidden;
  flex-wrap: wrap;
}

header .container-geral .slideshow {
  width: 100%;
}
.container-geral .slideshow img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

/*First Area*/
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  flex-wrap: wrap;
}

.about-us .container-inner {
  width: 100%;
  max-width: 1200px; /* Largura máxima definida */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Ajustes para as colunas */
.about-us .col1,
.about-us .col2 {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us .col1 {
  padding: 20px;
  align-items: flex-start;
}

.about-us .col1 h5 {
  font-family: "Poppins";
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #0470a4;
  font-weight: 600;
  padding: 0px 0px 15px 0px;
}
.about-us .col1 h1 {
  font-family: "Poppins";
  font-size: 3.125rem;
  color: #000;
  font-weight: 700;
  padding: 0px 0px 25px 0px;
}

.about-us .col1 p {
  color: black;
  font-size: 1.1rem;
  font-family: "Poppins";
  font-weight: 400;
  word-wrap: break-word;
  line-height: 30px;
  text-align: justify;
  padding: 0px 0px 40px 0px;
}

.about-us .col1 .button-about {
  background-color: #0470a4;
  color: #fff;
  font-family: "Poppins";
  font-size: 1rem;
  text-decoration: none;
  padding: 8px 25px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.about-us .col1 .button-about:hover {
  background-color: #2bb8ff;
  color: #fff;
}

.about-us .col2 {
  padding: 20px;
  align-items: flex-start;
}

/* Colections Section */

.colections-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("bg-about.jpg"); /* Substitua pelo caminho da sua imagem */
  background-size: cover; /* Faz com que a imagem cubra toda a área */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  padding: 0; /* Remove qualquer padding para evitar espaços brancos */
  margin: 0; /* Remove qualquer margin para evitar espaços brancos */
}

.colections-about > .inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 0px 0px 50px 0px;
}

.colections-about > .h1-coletions {
  font-family: "Poppins", sans-serif;
  font-size: 3.25rem;
  font-weight: 600;
  padding: 50px;
  text-align: center;
  color: var(--primary-color);
}

.inner div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner div img {
  border-radius: 15px;
  width: 100%; /* A imagem se ajusta à largura da coluna */
  height: auto; /* Mantém a proporção correta */
  object-fit: cover; /* Para garantir que a imagem preencha o espaço sem distorcer */
  transition: transform 0.3s ease-in-out; /* Suaviza a animação ao passar o mouse */
}

.inner div:hover img {
  transform: translateY(-10px); /* Move a imagem 10px para cima */
}

/* FAQ */

.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}
.h1-faq {
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-h1);
  padding-bottom: 50px;
  color: var(--primary-color);
}
.subtitle {
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  color: var(--secondary-color);
  font-weight: var(--font-weight-h5);
  padding-bottom: 10px;
}
.faq-all {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 100%;
  align-items: center;
}
.faq-image img {
  width: 100%;
  padding-right: 30px;
}
.faq-col2 {
  width: 100%;
  gap: 30px;
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.faq-question {
  width: 100%;
  background-color: #f7f7f7;
  border: none;
  padding: 15px;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  border-radius: 10px;
}

.faq-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #000;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 38px;
  font-weight: 100;
  margin-right: 15px;
  line-height: 45px;
}

.faq-answer {
  padding: 15px;
  display: none;
  border-top: 1px solid #ddd;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

.faq-answer p {
  margin: 0;
}

/* Quando o item está aberto */
[aria-expanded="true"] .faq-icon {
  background-color: #0470a4;
}
